<h1>Albinauricos de Elden Ring</h1>

<section>
    <h2>O que são os Albinauricos?</h2>
    <p>Os Albinauricos são uma raça enigmática no universo de Elden Ring. Eles são conhecidos por suas características
      físicas distintas e pela sua história trágica.</p>
    <img src="assets/images/albinaurico.jpg" alt="">
  </section>

  <section>
    <h2>Características</h2>
    <ul>
      <li>Possuem uma aparência peculiar, com pele clara e características únicas.</li>
      <li>Habitam a região de Liurnia e são frequentemente vistos em ambientes subaquáticos.</li>
      <li>São conhecidos por sua conexão com a magia e a natureza.</li>
    </ul>
    <img src="assets/images/albinaurico2.jpg" alt="">
  </section>

  <section>
    <h2>Importância na História</h2>
    <p>Os Albinauricos desempenham um papel importante na lore de Elden Ring, sendo frequentemente mencionados em
      diálogos e lore do jogo. Sua busca por identidade e aceitação é um tema central que ressoa com muitos jogadores.
    </p>
    <img src="assets/images/albinaurico3.webp" alt="">
  </section>
